:root[data-mode=light] .only-dark {
    display: none;
}

:root[data-mode=dark] .only-light,
:root[data-mode=darker] .only-light {
    display: none;
}

div.document {
    margin-left: 10rem;
}

div#right_sidebar {
    width: 20rem;
}
